body{
    background: url(images/body\ background.jpg) no-repeat center;
    background-size: 100%;  
    min-width: 350px;
}
header, main{
    margin-top: 20px;
    padding: 20px;
    text-align: center;
    }
h1{
    font-weight: bold;
}
button[class^="btn btn-"]{
    width: 300px;
    opacity: 0.8;
    margin: 0 auto;

}