body{
    background: url(images/body\ background.jpg) no-repeat center;
    background-size: 100%;
}
main {
    font-family:
}
button[class^="btn btn-"]{
    width: 300px;
    opacity: 0.8;
    margin: 0 auto;

}