@media only screen and (min-width: 700px) {
  body {
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 0px;
    text-align: center;
  }

  #header {
    height: auto;
  }

  .skills__links {
    display: flex;
    justify-content: center;
    max-width: 700px;
    margin: 0 auto;
  }

  .skills__img {
    visibility: hidden;
  }

  .btn-block+.btn-block {
    margin-top: 0px;
  }
  
  #about-me {
    height: auto;
    overflow: hidden;
  }

  .about-me__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 500px;
  }

  .background-about-me {
    background: url('images/wide-me-black-white.jpg') no-repeat top fixed;
    background-size: cover;
  }

  .interests__all {
    display: block;
  }
  
  .interests-items-all {
    display: flex;
    justify-content: space-around;
  }

  @media only screen and (min-width: 700px) and (max-width: 1200px) {
    .interests-items-all {
      width: 700px;
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  .interests-items-all img {
    background: white;
    padding: 30px;
    box-sizing: border-box;
    max-width: 188px;
    width: 28%;
    margin: 10px 20px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.4);
    border-radius: 50px;
  }

  .interests__carousel, .interests__navigation {
    display: none;
  }

  footer {
    height: auto;
  }

  footer a {
    padding: 20px 0px;
  }

  footer img:hover {
    transform: rotate(10deg);
  }

  footer img:active {
    width: 65px;
  }

  footer img {
    width: 70px;
    margin: 0 10px;
  }
  
}