body{
    background: url(images/body\ background.jpg) no-repeat center;
    background-size: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;  
}
header, main{
    text-align: center;
    }
h1{
    font-weight: bold;
}
button[class^="btn btn-"]{
    width: 300px;
    opacity: 0.8;
    margin: 0 auto;

}